<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
    
        <server>
          <id>central-sonatype</id>
          <username>${env.OSS_SONATYPE_USERNAME}</username>
          <password>${env.OSS_SONATYPE_TOKEN}</password>
        </server>
        
    </servers>

    <profiles>

        <profile>

            <id>central-sonatype-release</id>

            <properties>
                <gpg.passphrase>${env.OSS_SONATYPE_GPG_PASSPHRASE}</gpg.passphrase>
                <sonar.host.url>https://sonarcloud.io</sonar.host.url>
                <sonar.organization>fuinorg</sonar.organization>
                <sonar.projectKey>${project.groupId}:${project.artifactId}</sonar.projectKey>
            </properties>

        </profile>

        <profile>

            <id>standard</id>

            <repositories>

                <repository>
                    <id>central.sonatype.snapshots</id>
                    <name>Central Sonatype Snapshot Repository</name>
                    <url>https://central.sonatype.com/repository/maven-snapshots/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <updatePolicy>always</updatePolicy>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>

            </repositories>

            <pluginRepositories>

                <pluginRepository>
                    <id>central.sonatype.snapshots</id>
                    <name>Central Sonatype Snapshot Repository</name>
                    <url>https://central.sonatype.com/repository/maven-snapshots/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <updatePolicy>always</updatePolicy>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                
            </pluginRepositories>

        </profile>

    </profiles>

    <activeProfiles>
        <activeProfile>standard</activeProfile>
    </activeProfiles>

</settings>
